/* CSS declarations go here */

.page-header {
  margin: 20px 0 10px;
}

.flexrow {
  /*display: inline-block;
  vertical-align: middle;
  float: none;*/
  display:flex;
  justify-contents:center;
  align-items: end;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  margin: 10px;
}

.monitor {
  display: inline-block;
  line-height: 1.3;
  text-align: left;
  padding: 1em;
  height: 7.4em;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  min-height: 20px;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  vertical-align: baseline;
  white-space: nowrap;
}

.monitor-danger {
  background-color: #d9534f;
  border: 2px solid #B63733;
}

.monitor-warning {
  background-color: #f0ad4e;
  border: 2px solid #CA8B33;
}

.monitor-ok {
  background-color: #5cb85c;
  border: 2px solid #3C9B3C;
}