/* CSS declarations go here */

.page-header {
  margin: 20px 0 10px;
}

h2 {
  text-align: center;
}

p.label {
  display: inline-block;
  line-height: 1.3;
  text-align: left;
  padding: 1em;
  height: 7.4em;
  width: 100%;
}
